<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body class="h-100">
        {% block body %}
            <div class="container d-flex h-100">
                <div class="row w-100 align-self-center align-items-center">
                    <div class="col-6 mx-auto">
                        <div class="jumbotron">
                            {{ form_start(form) }}
                            <div>
                                {{ form_errors(form) }}
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form_row(form.numberOfCodes, {label: 'Ilość kodów'}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form_row(form.lengthOfCodes, {label: 'Długośc kodu'}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit">Pobierz!</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>

        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
            <script src="{{ asset('js/form-handler.js') }}"></script>
        {% endblock %}
    </body>
</html>
